# Python
__pycache__/
*.py[cod]
*.pyo

# Conda / environments
*.egg-info/
.env
environment.yml.bak

# Pytest
.pytest_cache/
.coverage
.dataset_creator_hash.json

# Mac
.DS_Store

# Data and models (too large for git)
*.pt
*.ckpt